{% extends "base.html" %}

{% block title %}
База вопросов
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 col-xxl-9">
      <h3 class="text-center adaptive-fs-title">Случайные вопросы из Базы</h3><br>
    </div>
  </div>
  <br>

  <div class="row justify-content-center adaptive-fs-small">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
      <form action="{{ url_for('questions') }}" method="POST" class="form adaptive-fs">
        {{ form.csrf_token }}
        {{ form.question_type.label }}
        {{ form.question_type(class="py-3 mb-1 adaptive-fs", placeholder=form.question_type.label.text) }}
        <br>
        {{ form.search_pattern.label }}
        {{ form.search_pattern(class="form-control form-control-lg py-3 mb-3 adaptive-fs", placeholder=form.search_pattern.description) }}
        <p>
          {% if form.search_pattern.errors %}
            {% for error in form.search_pattern.errors %}<span style="color: red" class="adaptive-fs-small">{{ error }}</span>{% endfor %}
          {% endif %}
        </p>
        <br>
        {{ form.questions_quantity.label }}
        {{ form.questions_quantity(class="form-control form-control-lg py-3 mb-3 adaptive-fs", placeholder=form.questions_quantity.description) }}
        <p>
          {% if form.questions_quantity.errors %}
            {% for error in form.questions_quantity.errors %}<span style="color: red" class="adaptive-fs-small">{{ error }}</span>{% endfor %}
          {% endif %}
        </p>
        <br>
        {{ form.submit(class="btn btn-outline-secondary adaptive-fs-big") }}
      </form>
      <br><br>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 col-xxl-9 adaptive-fs">
      {% if form.validate_on_submit() %}
        {% if not questions %}
          <br>
          <h4 class="adaptive-fs-big" style="text-align: center;">По вашему запросу ничего не найдено :(</h4><br>
        {% else %}
          {% for obj in questions %}
            <div class="container border border-3">
              <div class="card-body">
                <p class="card-text fw-semibold">
                  {% if obj.question_type.name != "Я" %}
                    {{ obj.question }}
                  {% else %}
                    {% for line in obj.question.split('\n') %}{{ line }} <br>{% endfor %}
                  {% endif %}</p>
              </div>
              <p class="d-inline-flex gap-1">
                <div class="text-center">
                  <button class="btn btn-outline-dark adaptive-fs-small" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ obj.id }}" aria-expanded="false" aria-controls="collapse{{ obj.id }}">
                    Показать ответ
                  </button>
                </div>
              </p>
              <div class="collapse" id="collapse{{ obj.id }}">
                <br>
                <p class="card-text fw-bold">
                  {% if obj.question_type.name != "Я" %}
                    {{ obj.answer }}
                  {% else %}
                    {% for line in obj.answer.split('\n') %}{{ line }} <br>{% endfor %}
                  {% endif %}</p>
                <p class="card-text fst-italic">
                  {% if obj.comments != "None" %}<span class="text-decoration-underline">Комментарий:</span> {{ obj.comments }}<br>{% endif %}
                  {% if obj.pass_criteria != "None" %}<span class="text-decoration-underline">Зачёт:</span> {{ obj.pass_criteria }}<br>{% endif %}
                  {% if obj.authors != "None" %}<span class="text-decoration-underline">Автор(ы):</span> {{ obj.authors }}<br>{% endif %}
                  {% if obj.sources != "None" %}<span class="text-decoration-underline">Источник(и):</span> {{ obj.sources | urlize(trim_url_limit=40) }}<br>{% endif %}
                </p>
              </div>
            </div>
            <br>
          {% endfor %}
          <br>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
